# #backend files to ignore
# backend/.phpunit.cache
# backend/node_modules
# backend/public/build
# backend/public/hot
# backend/public/storage
# backend/storage/*.key
# backend/storage/pail
# backend/vendor
# backend/.env
# backend/.env.backup
# backend/.env.production
# backend/.phpactor.json
# backend/.phpunit.result.cache
# backend/Homestead.json
# backend/Homestead.yaml
# backend/npm-debug.log
# backend/yarn-error.log
# backend/auth.json
# backend/.fleet
# backend/.idea
# backend/.nova
# backend/.vscode
# backend/.zed

# #frontend files to ignore
# # Logs
# frontend/logs
# frontend/*.log
# frontend/npm-debug.log*
# frontend/yarn-debug.log*
# frontend/yarn-error.log*
# frontend/pnpm-debug.log*
# frontend/lerna-debug.log*

# frontend/node_modules
# frontend/.DS_Store
# frontend/dist
# frontend/dist-ssr
# frontend/coverage
# frontend/*.local

# frontend/cypress/videos/
# frontend/cypress/screenshots/

# # Editor directories and files
# frontend/.vscode/*
# frontend/!.vscode/extensions.json
# frontend/.idea
# frontend/*.suo
# frontend/*.ntvs*
# frontend/*.njsproj
# frontend/*.sln
# frontend/*.sw?

# frontend/*.tsbuildinfo

